.alert-elevated[b-nkhsb1e5r0] {
    color: #7a3d00;
    background-color: #ffe5d0;
    border-color: #ffd1a8;
}

.border-elevated[b-nkhsb1e5r0] {
    border-color: #fd7e14 !important;
}

.bg-elevated[b-nkhsb1e5r0] {
    background-color: #fd7e14 !important;
}
